.private-login{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.private-login_button{
    display: flex;
    justify-content: center;
}

.private-logo{
    display: flex;
    justify-content: center;
}

.private-others{
    display: flex;
    flex-direction: column;
}